/*
  Running MySource Matrix
  Developed by Squiz - http://www.squiz.net
  MySource, MySource Matrix and Squiz.net are registered Trademarks of Squiz Pty Ltd
  Page generated: 09 January 2014 21:55:27
*/


body {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:0.75em;
    color:#000;
    margin:0;
    padding:0;
    background-color:#666;
    border-top:3px solid #73BF67;
}
h1 {
    color:#fff;
    font-weight:bold;
    font-size:1.8em;
    margin:0;
    padding:0;
}
h2 {
    color:#000;
    font-weight:bold;
    font-size:1.2em;
    margin:0;
    padding:0 0 10px 0;
}
    
p {
    margin:0;
    padding:0 0 10px 0;
}
a {
    color:#73BF67;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
ul {
padding:0 0 15px 15px;
margin:0;
}
form { /* IE adds padding to forms */
    padding:0;
    margin:0;
}
form ul li, form ul {
    list-style-type:none;
    padding:0;
    margin:0;
}
/*layout divs */
#all {
    width:990px;
    margin:0 auto;
    padding:3px 0 0 0;
    background-color:#FFFFFF;
}
#header {
    width:100%;
}
#header_left {
    float:left;
    width:300px;
    padding:20px 0 20px 10px;
    margin:0;
}
#header_right {
    float:right;
    width:500px;
}
/*search*/
#search {
    float:right;
    width:300px;
    text-align:right;
    margin:10px 20px 10px 0;
}

#search form input{
    font: 0.9em Arial, Helvetica, sans-serif;
    border: 1px solid #999;
    margin:0;
    padding:0;
    color:#666666;
}
#search #btn {
    border:1px solid #fff;
    background-color: #73BF67;
    color:#FFFFFF;
}
#main {
    clear:both;
}
#left_col {
    float:left;
    width:190px;
}
/******************navigation */
#main_menu {
    font-weight:bold;
}
#main_menu ul {
    margin:0;
    padding:0;
    width:100%;
}
#main_menu ul li {
    list-style-type:none;
    margin:0;
    display:block;
}
#main_menu ul li a {
    display:block;
    white-space:nowrap;
    padding:9px 10px 10px 10px;
    border-bottom:1px solid #000;
    border-top:1px solid #666666;
    width:180px; /*leftnav menu width - padding */
    background-color:#333;
    color:#fff;
}
#main_menu ul li a:hover {
    background-color:#73BF67;
    color:#FFFFFF;
    text-decoration:none;
    display:block;
    border-bottom:1px solid #666;
    border-top:1px solid #000;
}
#main_menu ul li a.current, #main_menu ul li a.hierarchy {
    background-color:#73BF67;
    color:#FFFFFF;
    text-decoration:none;
    display:block;
    width:180px;
    border-bottom:1px solid #666;
    border-top:1px solid #000;
}
#sub_menu ul {
    font-weight:bold;
    padding:20px 0 0 10px;
    margin:0;
    list-style-type:none;
}
#sub_menu ul a {
    color:#000;
}
#sub_menu ul li ul {
    font-weight:normal;
    padding:0 0 20px 10px;
    margin:0;
    list-style-type:none;
}
/********************/
#right_col {
    float:right;
    width:790px;
}
#banner h1 {
    margin:-35px 0 0 20px;
}
#main_content {
    padding:10px 20px;
    margin:20px 0;
    border-left:1px solid #999999;
}
#main_content_home {
    margin:8px 0 0 0;
}
#footer {
    clear:both;
    padding:5px 0 5px 200px;
    font-size:0.8em;
    color:#73BF67;
    border-top:1px solid #CCCCCC;
}
#footer a {
    color:#666666;
}

.clear {
    clear:both;
    line-height:1px;
    height:1px;
    font-size:0em;
}
.notes {
    color:#999999;
}
.pad_left {
margin-left:15px;
}
.pad_right {
margin-right:15px;
}